<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body style="background-image: url(https://t4.ftcdn.net/jpg/02/16/47/33/360_F_216473351_FCLq1pZQOBFrgcyPBphKvBd8Z5wjD1dI.jpg); background-repeat: no-repeat;
  background-attachment: fixed; background-size: 100% 100%; ">
    <div style="max-width: 400px; margin: 100px auto;  padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); background-color: white;">
        <h1 style="text-align: center; color: #007bff; margin-bottom: 20px;">Login</h1>
        <form action="/login" method="POST">
            <div style="margin-bottom: 15px;">
                <label for="email" style="display: block; font-weight: bold; margin-bottom: 5px;">Email:</label>
                <input type="email" id="email" name="email" style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; box-sizing: border-box;" required>
            </div>
            <div style="margin-bottom: 15px;">
                <label for="password" style="display: block; font-weight: bold; margin-bottom: 5px;">Password:</label>
                <input type="password" id="password" name="password" style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; box-sizing: border-box;" required>
            </div>
            <button type="submit" style=" width: 100%; padding: 10px; background-color: #007bff; color: #fff;  border: none; border-radius: 5px; cursor: pointer; font-size: 16px;">Login</button>
        </form>
        <p style="text-align: center; margin-top: 20px;">Don't have an account? <a href="/register" style="margin-left: 10px; color: #007bff; text-decoration: none; font-weight: bold; text-decoration: underline; text-decoration-color: black ;"> Register here</a>.</p>
    </div>
    
</body>
</html>
